<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.calix.calixgigaspireapp">

    <!-- Screen support -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--App permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".main.CalixGigaspireApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- First launch screen -->
        <activity
            android:name=".ui.loginregconfig.Splash"
            android:theme="@style/AppSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.loginregconfig.Login"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.loginregconfig.Registration"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.loginregconfig.RouterConfiguration"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.loginregconfig.QRBarcodeScanner"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.loginregconfig.RouterDetailsUpdate"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.dashboard.Dashboard"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".ui.dashboard.Alexa"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.IOTDeviceList"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.IOTAddDevice"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.IOTRouterSettings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.settings.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.settings.CalixIOTAgent"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.settings.SetPinAndResetPin"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.settings.ChangeLoginPwd"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.settings.AboutTermsConditions"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.settings.PinCodeFingerPrintLogin"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.devices.Devices"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.devices.DeviceDetails"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.dashboard.Alert"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.parentalcontrol.ParentalControlDashBoard"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.parentalcontrol.ParentControlInsightsCategory"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.wifi.WifiSpeedResult"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.network.NetworkUsage"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.devices.DevicesList"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.dashboard.SpeedTest"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.parentalcontrol.ParentControlInsights"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.parentalcontrol.ParentControlTime"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.parentalcontrol.ParentControlFilter"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.parentalcontrol.ParentControlRewards"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.wifi.InternetSpeedTest"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.dashboard.RouterMap"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.guest.GuestNetwork"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.guest.SetupGuestContact"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.guest.SetupGuestNetwork"
            android:configChanges="keyboardHidden|orientation|screenSize" />


        <activity
            android:name=".ui.iot.IOTSiren"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.IOTSensor"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.IOTSwitch"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.IOTThermostat"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.ZWACIRExtender"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.ColorDimmableLight"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.iot.IOTAlmondBlink"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!--Default alexa login plugin-->
        <activity
            android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity"
            android:allowTaskReparenting="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- android:host must use the full package name found in Manifest General Attributes -->
                <data
                    android:host="${applicationId}"
                    android:scheme="amzn" />
            </intent-filter>
        </activity>

        <!--Nougat - get image path from storage-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--Google vision plugin-->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <!--Fabric plugin-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3ff853f40dcf4825bbda707c2f587744b4ad7801" />

    </application>

</manifest>